
@{
    ViewBag.Title = "Kullanıcı Guncelle - Yönetim Paneli";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using Haber.Models
@model aspnet_Membership

<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            Kullanıcı Güncelle
        </header>

        <div class="panel-body">
            <form role="form" method="post" action="/Admin/KullaniciGuncelle">
                <input class="hidden" name="id" value="@ViewBag.kid"/>
                <div class="form-group">
                    <label for="exampleInputEmail1">Adı</label>
                    <input type="text" class="form-control" id="validationDefault01" maxlength="50" name="Name" value="@Model.Name" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Soyadı</label>
                    <input type="text" class="form-control" id="validationDefault01" maxlength="50" name="Surname" value="@Model.Surname" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Kullanıcı Adı</label>
                    <input type="text" class="form-control" id="validationDefault01"" name="KulaniciAdi" maxlength="50" value="@Model.aspnet_User.UserName" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Mail</label>
                    <input type="email" class="form-control" id="validationDefault01" name="Mail" maxlength="75" value="@Model.Email" required>
                </div>
                <button type="submit" class="btn btn-info" name="UserId">Kaydet</button>
            </form>

        </div>
    </section>
</div>

